| $("#modal-container").html("#{j(render 'modal_edit_playlist', playlist_of_tracks: @playlist_of_tracks)}");
| $("#modal-container").modal('show');

| $('[id="js-modal-close"]').click(function() {
|   $("#modal-container").modal('hide');
| });

| $('[id="js-switch-button"]').click(function(){
|   $(".js-flash-message").empty();
|   $("#js-add-track").toggleClass('active');
|   $("#js-edit-track").toggleClass('active');
| });
