| $("#modal-container").html("#{j(render 'modal_edit_playlist', playlist: @playlist, tracks: @tracks)}");
| $("#modal-container").modal('show');

| $("#modal-close").click(function() {
|   $('.modal-backdrop').removeClass();
|   $("#modal-container").modal('hide');
| });
