= link_to 'フォローする', api_v1_follow_artists_path(@current_user.spotify_id, artist_id: artist_id),
                        method: :post,
                        class: 'btn btn-primary',
                        remote: true