| $('.js-flash-message').html("#{j(render 'shared/flash_message', flash: flash)}");
| $('#js-edit-body').append("#{j(render 'api/v1/tracks/track', track: @playlist_of_track.track, playlist_id: @playlist_of_track.playlist_id, track_counter: @playlist_of_track.position)}");
| $('.tracks-lists').append("#{j(render 'api/v1/tracks/track', track: @playlist_of_track.track, playlist_id: @playlist_of_track.playlist_id, track_counter: @playlist_of_track.position, action_name: 'show')}");