.form-group#js-generation.active
  = button_tag t("form.refine_ad"), type: :button, class: 'btn btn-secondary', id: 'js-switch-period'
  = f.label :that_generation_preference
  = f.select :that_generation_preference, form.decorate.generations(current_user), { selected: form.decorate.set_that_generation_preference, include_blank: true }, { class: 'form-control', id: 'js-generation-select' }