/ - if user.age.present?
/   - if form.that_generation_preference
/     = render 'form_generation', form: form, f: f
/     = render 'form_ad', form: f: f
/   - else
/     = render 'form_generation', form: formm f: f
/     = render 'form_ad', form: f: f
/ - else
/   = render 'form_ad', form: form, f: f
    
