| $('.search-result').html("#{j render(partial: 'artist', collection: @artists)}");
| $('.follow-buttons').html("#{j render(partial: 'shared/artist_follow_button', collection: @artists, as: :artist, locals: { follow_artist_ids: @follow_artist_ids })}");
