@import 'bootstrap/scss/bootstrap.scss';
@import 'color';
@import 'home';
@import 'sidebar';
@import 'card';
@import 'modal';
@import 'form';
@import 'player';

html, body {
  position: relative;
  height: 100%;
  overflow-x: hidden;
  padding: 0%;
  margin: 0%;
  background-color: $main-color !important;
  color: $accent-color !important;
  font-size: 62.5% !important;
}

.flash {
  position: absolute;
  top: 0px;
  left: 210px;
  width: auto;
}

ul {
  list-style: none;
}

a {
  color: #fff !important;
  text-decoration: none !important;
}

.active {
  display: block !important;
}