@import 'bootstrap/scss/bootstrap.scss';
@import 'color';
@import 'home';
@import 'sidebar';
@import 'card';
@import 'modal';
@import 'form';
@import 'playlist';
@import 'search';
@import 'player';
@import 'profile';
@import "loading";
@import 'main_header';
@import 'track';
@import 'error';

html, body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
  margin: 0;
  font-size: 62.5% !important;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%;
  height: auto;
  background-color: $main-color;
  color: #fff;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: calc(100% - 17vw);
  height: 100%;
  margin-left: auto;
  padding: 2rem 2vw;
}

.hidden {
  display: none !important;
}

.show {
  display: block !important;
}

.flash {
  font-size: 1.6rem;
  width: 100%;
}

.js-flash-message {
  height: 4.5rem;
}

ul {
  list-style: none;
}

a {
  color: #fff !important;
  text-decoration: none !important;
}

.page-title {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  padding-left: 2rem;
  font-size: 3.5rem;
}

.btnx-main-light {
  font-size: 1.3rem !important;
  background: $main-light-color !important;
  border: 2px solid $main-light-color !important;
  
  &:hover {
    opacity: 0.8;
  }
}

.btnx-sub {
  color:  #fff !important;
  background: $sub-color !important;
  border: 1rem thin $sub-color !important;
  
  &:hover {
    opacity: 0.8;
  }
}

.btn-xl {
  font-size: clamp(1.5rem, 2vw, 2rem) !important;
  width: unquote("max(30%, 200px)") !important;
  height: 4rem !important;
}

.new-playlist-wrap {
  margin-bottom: 3rem;
}

@media screen and (max-width: 1199px) {
  main {
    width: 95%;
    margin: 9rem auto 0 !important;
    padding: 0;
  }
}