@import 'color';
.card {
  width: 18%;
  min-width: 160px !important;
  aspect-ratio: 2/3;
  margin: 0 1rem 3rem 0;
  background-color: hsl(0, 0, 15%) !important;
  border-radius: 1rem !important;

  &:hover :not(.card-thumbnail, .btn) {
    background-color: hsl(0, 0, 20%) !important;
    border-radius: 1rem !important;
  }
}

.card-body {
  .thumbnail-wrap {
    width: 98%;
    margin: 0 auto;
  }
  
  .card-thumbnail {
    width: 100%;
    height: 100%;
    background-color: $main-color;
  }
  
  .card-title {
    font-size: clamp(1rem, 1.5vw, 2rem);
    margin-top: 1.5rem;
    overflow-x: scroll;
    white-space: nowrap;
  }

  .btn {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
  }
}

@media screen and (max-width: 800px) {
  .card {
    width: 20% !important;
    min-width: 120px !important;
  }
}

@media screen and (max-width: 540px) {
  .card {
    min-width: 100px !important;
  }
}