@import 'color';

.card-wrap {
  margin-bottom: 3rem;
  margin-right: 1vw;
  width: min-content !important;
}

.card {
  width: 20rem;
  height: 27rem;
  background-color: hsl(0, 0, 15%) !important;
  border-radius: 1rem !important;

  &:hover :not(.card-thumbnail, .btn) {
    background-color: hsl(0, 0, 20%) !important;
    border-radius: 1rem !important;
  }
}

.card-thumbnail {
  width: 18rem;
  height: 18rem;
  background-color: $main-color;
}

.card-title {
  font-size: 2rem;
  margin-top: 1.5rem;
  overflow-x: scroll;
  white-space: nowrap;
}