@import 'color';
.form-wrap {
  width: 90%;
  margin: 0 auto 3rem;
}
.form {
  font-size: clamp(12px, 2vw, 18px);
  background: hsl(0, 0, 15%) !important;
  padding: 2vw;

  *:focus {
    border-color: $sub-color !important;
    box-shadow: none !important;
    outline: none !important;
  }
}

.form-container {
  .nav-tabs {
    height: fit-content;
    border-bottom: inset 2px $sub-color !important;
  
    .nav-link:hover {
      border-color: $sub-color !important;
    }

    a {
      font-size: clamp(12px, 2vw, 18px);
      padding: 0.3rem;
    }

    li {
      height: auto;
      margin: 0 !important;
    }
  
    .nav-item .nav-link.active, .nav-tabs .nav-item.show .nav-link {
      background-color: $sub-color !important;
      border-color: $sub-color;
      transition: 0.3s;
    }
  }
}

.tab-content {
  padding: 2rem 0 1rem;
}

.form-section {
  padding-bottom: 4rem;

  .title {
    display: inline-block;
    font-size: clamp(18px, 2vw, 35px);
    margin-bottom: 1rem;
    border-bottom: inset thick $accent-color;
  }

  .headline-content {
    margin-bottom: 0.5rem;

    .text {
      padding-top: 1rem;
      display: inline-block;
      font-size: clamp(14px, 2vw, 23px);
      border-bottom: dashed thin $accent-color;
    }

    .btn {
      font-size: clamp(10px, 2vw, 18px) !important;
      margin-left: 3rem;
    }
  }
}

.form-group {
  height: auto;
  margin-bottom: 1.3rem;
}

.form-control {
  width: clamp(200px, 5vw, 500px) !important;
  height: 3.5rem;
  font-size: 2rem !important;
}

.form-label {
  display: block;
}

.with-comment {
  display: inline-block !important;
}

.comment {
  margin-left: 1.5rem;
  font-size: clamp(10px, 2vw, 15px);
  opacity: 0.8;
  display: inline;
}

#js-max-number, #js-max-duration-ms {
  margin-top: 2.3rem;
}

.select {
  display: inline;
  font-size: 2rem;
  height: 3.5rem;
  margin-right: 1.5rem;
  width: 8rem;
}

.form-switch {
  height: 3.5rem;
  margin-bottom: 1rem;

  .form-check-input {
    margin-top: 0;
    width: 6rem !important;
    height: 3rem !important;
  }
}

.form-check-input:checked {
  background-color: $sub-color !important;
  border-color: $sub-color !important;
}

#js-artists {
  z-index: 10;
}

.select2-selection__rendered, .select2-results__options {
  color: $main-color;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: $accent-color !important;
  color: black !important;
}

.annotation {
  margin-top: 0.5rem;
  font-size: clamp(10px, 2vw, 12px);
  opacity: 0.8;
}