@import 'color';

header {
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  z-index: 10;

  .navbar {
    background-color: $main-color;
    justify-content: space-between;
  }

  .navbar-brand {
    margin-left: 1rem;

    .header-logo {
      width: clamp(14rem, 5vw, 18rem);
      height: 5rem;
    }
  }
  
  .nav {
    display: flex;
    flex-direction: row !important;
    margin: auto 1rem auto 0;

    .nav-item {
      margin: 0 2rem 0.5rem 0;
      font-size: 2rem;
    }
  }
}