@import 'color';
@import 'header';
@import 'footer';

.top-flash {
  position: absolute;
  top: 66px;
  left: 0;
  width: 100%;
}

.top-container {
  background-color: #d8dbd9;
}

.content-wrap {
  background-color: #fff;
  padding: 5.5rem 0 10rem;
}

.top-hero {
  padding: 12rem 0 3rem;

  .main-catch {
    display: flex;
    width: 65%;
    margin: 0 auto;

    .logo-group {
      flex: 1;
      margin: auto 0;

      .logo {
        display: block;
        width: clamp(100px, 30vw, 380px);
        height: fit-content;
        margin: 0 0 1rem;
      }
  
      .top-content {
        padding-left: clamp(0.1rem, 0.5vw, 1rem);
        font-size: clamp(1.2rem, 2vw, 3rem);
        margin-bottom: clamp(1rem, 3vw, 2rem);
        white-space: nowrap;
      }
  
      .link-group {
        display: flex;
  
        .btn {
          font-size: clamp(1rem, 1.5vw, 2rem);
          white-space: nowrap;
        }
  
        .top-login {
          margin: 0 1.5rem 0.5rem 0;
  
          .spotify-icon {
            width: clamp(1.5rem, 3vw, 2.5rem);
            height: clamp(1.5rem, 3vw, 2.5rem);
            margin-right: 0.3rem;
          }
        }
      }  
    }

    .audio-catch {
      width: 100%;
      flex: 1;
      text-align: center;
  
      .main-catch-audio {
        width: clamp(13rem, 25vw, 25rem);
      }
    }
  }
}

.recommend-wrap {
  display: flex;
	justify-content: center;
	align-items: center;
  margin-bottom: 9rem;

  .recommend-content {
    border-radius: 8px;
    box-shadow:0px 0px 5px silver;
    padding: 2rem clamp(0.5rem, 10vw, 12rem) 3rem;
  }
  
  .recommend-headline {
    width: fit-content;
    text-align: center;
    font-size: clamp(1.5rem, 4vw, 3rem);
    margin: 0 auto 1rem;

    span {
      font-weight: bold;
      position: relative;
      z-index: 5;

      &:after {
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: clamp(1rem, 3vw, 1.5rem);
        border-radius: 3rem;
        background-color: $sub-color;
        opacity: 0.5;
        content: "";
      }
    }
  }

  .recommend-list {
    font-size: clamp(1rem, 2vw, 1.8rem);

    ul {
      padding-left: 0;
    }

    li {
      text-align: start;

      &:before {
        display: inline-block;
        content: "";
        width: clamp(1rem, 2vw, 1.8rem);
        height: clamp(1rem, 2vw, 1.8rem);
        border-radius: 50%;
        vertical-align: middle;
        background-color: $sub-color;
        margin-right: 0.5rem;
      }
    }
  }
}

.step-wrap {
  .step-title {
    text-align: center;
    font-size: clamp(1.5rem, 3vw, 3rem);
    margin-bottom: 2rem;
  }

  .step-list-container {
    .step-list {
      display: flex;
      justify-content: center;
      padding-left: 0;

      :not(:last-child) {
        margin-right: 1rem;
      }

      .step-list-item {
        display: flex;
        flex-direction: column;
        width: clamp(16rem, 29vw, 30rem);
        aspect-ratio: 2/3;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 2rem 1rem;
        border-radius: 8px;
        box-shadow:0px 0px 5px silver;


        .step {
          font-size: clamp(1.5rem, 3vw, 3rem);
          margin: 0 auto;
          background: lighten($sub-color, 15%);
          width: clamp(11rem, 15vw, 18rem);
          border-radius: 5rem;
        }

        .step-list-image {
          margin: 3rem auto;
          width: clamp(10rem, 17vw, 20rem);
          aspect-ratio: 3/4;
        }

        .step-list-content {
          height: clamp(3rem, 3vw, 5rem);
          font-size: clamp(1rem, 1vw, 1.5rem);
          margin: auto 0;
          font-weight: bold;
          white-space: nowrap;
        }
      }
    }
  }
}

.page {
  margin-bottom: 5rem;
  .page-headline {
    text-align: center;
    font-weight: bold;
    margin-top: 120px;
    margin-bottom: 50px;
    font-size: 3rem;
    font-weight: bold;
  }

  .content-wrap {
    width: 80%;
    margin: 0 auto;

    .content-group {
      margin-bottom: 4rem;
    }
  }

  a {
    color: #000 !important;
    text-decoration: underline !important;
  }
}

@media screen and (max-width: 800px) {
  .link-group {
    flex-direction: column;
    padding-left: 0.1rem !important;
  }
}

@media screen and (max-width: 500px) {
  .main-catch {
    width: 81% !important;
  }

  .content-wrap {
    padding-bottom: 5rem !important;
  }

  .recommend-wrap {
    margin-bottom: 3rem;
  }

  .recommend-content {
    padding: 2rem clamp(0.5rem, 5vw, 5rem) !important;
  }

  .step-list {
    align-items: center;
    flex-direction: column;
  }

  .step-list-item {
    width: 25rem !important;
    aspect-ratio: 3/2 !important;
    margin-right: 0;
    margin-bottom: 1rem;

    .step-list-image {
      width: 15rem !important;
    }

    .step-list-content {
      height: 5rem;
    }
  }
}
