#js-add-track {
  display: none;
}

#js-edit-track {
  display: none;
}

.modal-content {
  background-color: hsl(0, 0, 15%) !important;
  height: 80rem;

  .modal-header {
    padding: 2rem 4rem 1rem 4rem;

    .modal-title {
      font-size: 2.3rem;
    }

    .button-aria {
      float: right;

      .btn {
        margin-left: 1rem;
      }
    }
  }

  .modal-body {
    height: 83%;
    overflow: scroll;

    .js-flash-message {
      height: 5.5rem;
      margin-bottom: 0.5rem;
    }

    .form {
      padding: 2rem 3rem;
    }
  }
}
