@import 'color';

.playlist-group {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 1%;
}

.playlist-head {
  display: flex;
  flex-direction: row;
  width: 100%;

  .playlist-info-wrap {
    display: flex;
    flex-direction: row;
    flex: 2;
    padding: 0.5rem;
    margin-bottom: 1rem;

    .playlist-thumbnail-wrap {
      flex: 1;
      padding: 0.5rem;
      
      .playlist-thumbnail {
        width: clamp(10rem, 25vw, 26rem);
        height: clamp(10rem, 25vw, 26rem);
      }
    }

    .playlist-info {
      display: flex;
      flex-direction: column;
      flex: 2;
      overflow-x: scroll;
      overflow-wrap: break-word;
      justify-content: space-between;
      padding-left: 1rem;

      .playlist-title-wrap {
        display: flex;
        align-items: center;
        height: 80%;

        .playlist-title {
          font-size: clamp(1.5rem, 3vw, 3rem);
        }
      }

      .button-aria {
        margin-bottom: 1rem;
      }
    }
  }
}

.status-wrap {
  flex: 1;
  padding: 0 1rem;
  margin-bottom: 1rem;

  .status-headline {
    display: inline-flex;
  
    .status-title {
      font-size: clamp(1.5rem, 2vw, 2rem);
      display: inline;
      margin-right: clamp(1rem, 2vw, 2rem);
    }
  }

  .status-list {
    padding: 0.5rem 2rem;
    opacity: 0.8;

    .status-item {
      margin-bottom: 0.4rem;

      .status-label {
        display: inline;
        border-bottom: inset thin $accent-color;
        font-size: 1.2rem;
      }

      .status-text {
        font-size: 1.5rem;
        padding-left: 1.2rem;
        overflow-x: scroll;
        white-space: nowrap;
        width: 28rem;
      }
    }
  }
}

.track-list {
  .track-headline-outer {
    border-bottom: outset thin $accent-color;
    margin-bottom: 1rem;

    .track-headline {
      display: flex;
      opacity: 0.5;

      .headline-item {
        font-size: clamp(1rem, 1vw, 1.3rem);
        margin-right: 1rem;
      }
      
      .number {
        text-align: right;
        flex: 0.2;
      }

      .track-img{
        flex: 0.7;
      }

      .track-title {
        flex: 3;
        margin-right: 2.5rem;
      }

      .artist-name, .album-title {
        flex: 2;
      }

      .playback-time {
        text-align: center;
        flex: 0.7;
      }
    }
  }
}

.playlist-of-track {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: clamp(4rem, 5vw, 6rem);
  margin-bottom: 0.8rem;
  opacity: 0.8;
  border-radius: 0.5rem;

  &:hover {
    background: hsl(0, 0, 30%);
  }

  .track-item {
    font-size: clamp(1.3rem, 3vw, 2rem);
    justify-content: flex-start;
    overflow-x: scroll;
    white-space: nowrap;
    margin-right: 1rem;

    &:not(.track-image-outer, .track-title, .delete-bottom) {
      font-size: clamp(1rem, 3vw, 1.4rem);
      opacity: 0.7;
    }

    &:hover{
      &:not(.track-image-outer, .track-title, .delete-bottom, .number, .playback-time) {
        opacity: 1;
      }
    }
  }

  .number {
    text-align: right;
    flex: 0.2;
  }

  .track-image-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.7;

    .track-image {
      opacity: 1;
      width: clamp(3.5rem, 5vw, 5.5rem);
      height: clamp(3.5rem, 5vw, 5.5rem);
    }
  }

  .track-title {
    flex: 3;
  }

  .track-artist-and-album {
    display: flex;
    flex-direction: row;
    flex: 4;
    overflow-x: scroll;
    white-space: nowrap;

    .track-artist-name, .track-album-title {
      flex: 2;
    }
  }

  .playback-time {
    text-align: center;
    flex: 0.7;
  }
}

@media screen and (max-width: 650px) {
  .playlist-head {
    flex-direction: column;
  }

  .artist-name, .album-title {
    visibility: hidden;
  }

  .track-artist-and-album {
    flex-direction: column !important;
  }

  .playback-time {
    display: none !important;
  }
}