@import 'color';

.profile-wrap {
  .user-image-wrap {
    align-items: center;
    justify-content: center;
    margin: 2rem 0 4rem;

    .user-thumbnail {
      margin: 1rem;
      width: 20rem;
      height: 20rem;
    }
  }

  .user-items {
    margin-bottom: 4rem;
    .user-name {
      font-size: clamp(5rem, 2vw, 7rem);
      overflow-x: scroll;
      white-space: nowrap;
      margin-bottom: 2.5rem;
    }

    .user-age-group {
      display: flex;
      align-items: flex-end;
      font-size: 1.2rem;
      margin-bottom: 1rem;

      .age-label {
        font-size: 1.5rem;
        margin-right: 1.5rem;
      }

      .age-form {
        display: inline-block;
        font-size: 1.5rem;
        margin-right: 0.5rem;
      }

      .btn {
        margin: auto 1.5rem;
      }
      
      .note {
        font-size: 0.5rem;
        opacity: 0.8;
      }
    }
  }

  .user-follow-artist-genre {
    margin-bottom: 4rem;
    padding: 0 3rem;
    .follow-artist-genre-title {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    .genre-table-headline {
      font-size: 1.3rem;
    }

    .genre-table-body {
      .genre {
        font-size: 1.5rem;
        overflow-x: scroll;
        white-space: nowrap;
        margin-bottom: 0.5rem;
        border-bottom: inset thin $accent-color;
      }
    }
  }
}

.user-follow-artist-group {
  
  .follow-artists-headline {
    margin-bottom: 2rem;
    padding-right: 2rem;

    .follow-artists-title {
      display: inline-block;
      font-size: clamp(1.8rem, 2vw, 2.5rem);
      margin-right: 5rem;
    }

    .follow-artist-index-link {
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }
  }

  .five-follow-artists {
    display: flex;
    height: 30rem;
    overflow-x: auto;
  }
}

@media screen and (max-width: 1199px) {
  .user-image-wrap {
    padding-left: 2rem;
  }

  .user-thumbnail {
    width: unquote("clamp(100px, 20vw, 180px)") !important;
    height: unquote("clamp(100px, 20vw, 180px)") !important;
  }
}