@import 'color';
.search-wrap {
  padding: 2rem 3rem;
  height: 100%;
}

.search {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  .label {
    font-size: 1.7rem;
    justify-self: center;
    margin-right: 1rem;
    margin-left: 2rem;
  }

  .search-form {
    font-size: 1.7rem;

    &:focus {
      border-color: $sub-color !important;
      box-shadow: none !important;
      outline: none !important;
    }
  }

  .search-select {
    font-size: 1.7rem;
    height: 3.1rem;

    &:focus {
      border-color: $sub-color !important;
      box-shadow: none !important;
      outline: none !important;
    }
  }

  .btn {
    margin-left: 1.3rem;
  }
}

.js-search-flash-message {
  height: 4rem;
  margin-bottom: 1rem;
}

.search-result {
  height: 95%;

  .nav-tabs {
    height: fit-content;
    border-bottom: inset 2px $sub-color !important;
  
    .nav-link:hover {
      border-color: $sub-color !important;
    }

    a {
      font-size: clamp(12px, 2vw, 18px);
      padding: 0.3rem;
    }

    li {
      height: auto;
      margin: 0 !important;
    }
  
    .nav-item .nav-link.active, .nav-tabs .nav-item.show .nav-link {
      background-color: $sub-color !important;
      border-color: $sub-color;
      transition: 0.3s;
    }
  }

  .tab-pane {
    margin: 0 auto;
  }

  .tab-content {
    height: 100%;
    padding-top: 1rem;
    overflow: scroll;

    .album-group, .artist-group {
      padding-left: 3rem;
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      gap: 1%;
    }
  }

  .artist-label, .album-label, .track-label {
    font-size: 2.8rem;
  }
}

@media screen and (max-width: 540px) {
  .album-group, .artist-group {
    padding-left: 0 !important;
    gap: 3px;
  }
}