.sidebar {
  margin: 8rem auto;
  width: fit-content;
}

.sidebar-items {
  width: fit-content;
}

.nav-item {
  font-size: 1.6rem;
  height: 3rem;
  margin-bottom: 1rem;

  .nav-icon {
    display: inline-block;
    fill: #fff;
    vertical-align: text-top;
    width: 2.4rem;
    height: 2.4rem;
  }

  .nav-label {
    display: inline-block;
    vertical-align: bottom;
    padding-left: 0.6rem;
  }
}

@media screen and (max-width: 1199px) {
  .col-xl-2 {
    .pc-size {
      display: none;
    }
  }
}