.sidebar-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 17vw;
  overflow-y: auto;
  height: 100%;
  min-height: 100%;
  border-right: inset thin #fff;
}

.sidebar {
  height: 100%;
  margin: 0 auto;
  padding-top: 4rem;
  width: fit-content;
}

.sidebar-items {
  width: fit-content;

  .logo-item {
    margin-bottom: 5rem;
  }
}

.nav-item {
  font-size: 1.6rem;
  height: 3rem;
  margin-bottom: 1rem;
  margin-left: 1rem;

  .nav-icon {
    display: inline-block;
    fill: #fff;
    vertical-align: text-top;
    width: 2.4rem;
    height: 2.4rem;
  }

  .nav-label {
    display: inline-block;
    vertical-align: bottom;
    padding-left: 0.6rem;
  }
}

@media screen and (max-width: 1199px) {
  .sidebar-wrap {
    display: none;
  }
}
