- if @type == 'playlist'
  | window.open("https://open.spotify.com/#{@type}/#{@object.playlist_id}//", "_blank", "noreferrer");
- elsif @type == 'album'
  | window.open("https://open.spotify.com/#{@type}/#{@object.album_id}//", "_blank", "noreferrer");

