<script async src="https://www.googletagmanager.com/gtag/js?id=G-XLTVV8NLVM"></script>

javascript:
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-XLTVV8NLVM');
